<div class="container">

<div class="row">
    <div class="col-lg-12">
        <h1>Burgers</h1>
        <h1>Select Burgers!</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <ul>
            {{#each burgers}}
                {{#unless this.devoured}}
                    {{this.id}}
                    {{>this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit">eat it</button>
			        </form>

                {{/unless}}
            {{/each}}
        </ul>
    </div>
    
    <div class="col-lg-6">
        {{#each burgers}}
            {{#if this.devoured}}
                {{>this.burger_name}}
            {{/if}}
        {{/each}}
    </div>
</div>

	<div class="row">
	    <div class="center col-lg-12">
			<h1>Add</h1>
			<form class="create-update-form" action="/" method="POST">
			  <div class="form-group">
			    <p>Enter a burger you want to order</p>
			    <input type="text" id="ca" name="burger_name">
			  </div>
			  <button class="btn-primary" type="submit">Submit</button>
			</form>
	    </div>
  	</div>
</div>
